extends common/template.pug

block pageTitle
  title 淘力币介绍

block injectHead
  link(rel='stylesheet', href='../css/tcoin.css')

block injectMain
  .container-full.test
    .container
      .banner.text-center
        h1 马上参与
  .container
    .row.clearfix.test-what-is-tcoin
      .col-6
        .inner-con
          .icon-container
            img(src="http://placehold.it/150x150")
          h2 什么是淘力币
          p.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      .col-6
        .inner-con
          img(src="http://placehold.it/650x650")
    .row.clearfix.test-what-is-tcoin
      .col-6.pull-right
        .inner-con
          .icon-container
            img(src="http://placehold.it/150x150")
          h2 什么是淘力币
          p.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      .col-6
        .inner-con
          img(src="http://placehold.it/650x650")
    .row.clearfix.test-what-is-tcoin
      .col-6
        .inner-con
          .icon-container
            img(src="http://placehold.it/150x150")
          h2 什么是淘力币
          p.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      .col-6
        .inner-con
          img(src="http://placehold.it/650x650")
